/*h2.entry-title {
    display: none;
}*/

header.entry-header {
    display: none;
}

.entry-content {
    float: none !important;
    width: 100% !important;
    margin: 0 auto !important;
}


div#wpcf7-f42-p5-o1 {
    width: 70%;
    margin: 0 auto;
}

#top {
    padding: 30px 0 0 0;
}

#top:hover {
	cursor: pointer;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    margin: 0 auto;
}



@media screen and (min-width: 48em){

	.page-two-column .panel-content .entry-content {
	    float: none !important;
	    width: 100% !important;
	}
	
	.entry-content, body.page-two-column #comments {
    	float: none !important;
    	width: 100% !important;
	    margin: 0 auto !important;
	}

	.panel-content .wrap {
    	padding-bottom: 0 !important;
	}    

}

@media screen and (max-width: 480px){
	
	div#wpcf7-f42-p5-o1 {
    	width: 100% !important;
	}

	div#wpgmza_map {
		width: 100% !important;
	}

}

